<div class="row">
  <div class="col-12" style="padding:20px 30px;">
      <div class="card">
        <div class="card-block text-center">
          <h3 class="card-title">Summary of {{over}} over {{ball}} bowl</h3>
          <a routerLink="/play/{{id}}" class="btn btn-info">Back</a>
          <ul class="list-group" style="padding:20px;">
            <li class="list-group-item score-head">
              <p>Name</p><p>Score</p>
            </li>
            <li class="list-group-item" *ngFor="let re of singleball; let i='index'">
                <p>Over</p><p>{{re.over}}</p>
                <p>Ball</p><p>{{re.ball}}</p>
                <p>Run</p><p>{{re.run}}</p>
                <p>Wicket</p><p>{{re.wicket}}</p>
                <p>Total Run</p><p>{{re.totalRun}}</p>
                <p>Extra</p><p>{{re.ext}}</p>
                <p>Commentry</p><p>{{re.commentry}}</p>
            </li>
          </ul>
        </div>
      </div>
  </div>
</div>
